<header ng-switch on="$location.path().indexOf('/Repetition_Repetiteurs/new') > -1">
    <h3 ng-switch-when="true">Create a new Repetition_Repetiteur</h3>
    <h3 ng-switch-when="false">View or edit Repetition_Repetiteur</h3>
</header>
<form id="Repetition_RepetiteurForm" name="Repetition_RepetiteurForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': Repetition_RepetiteurForm.repetition.$invalid}">
        <label for="repetition" class="col-sm-2 control-label">Repetition</label>
        <div id="repetitionControls" class="col-sm-10">
        <select id="repetition" name="repetition" class="form-control" ng-model="repetitionSelection" ng-options="r.text for r in repetitionSelectionList"  >
            <option value="">Choose a Repetition</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': Repetition_RepetiteurForm.repetiteur.$invalid}">
        <label for="repetiteur" class="col-sm-2 control-label">Repetiteur</label>
        <div id="repetiteurControls" class="col-sm-10">
        <select id="repetiteur" name="repetiteur" class="form-control" ng-model="repetiteurSelection" ng-options="r.text for r in repetiteurSelectionList"  >
            <option value="">Choose a Repetiteur</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveRepetition_Repetiteur" name="saveRepetition_Repetiteur" class="btn btn-primary" ng-disabled="isClean() || Repetition_RepetiteurForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteRepetition_Repetiteur" name="deleteRepetition_Repetiteur" class="btn btn-danger" ng-show="repetition_Repetiteur.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>