<header ng-switch on="$location.path().indexOf('/Repetiteurs/new') > -1">
    <h3 ng-switch-when="true">Create a new Repetiteur</h3>
    <h3 ng-switch-when="false">View or edit Repetiteur</h3>
</header>
<form id="RepetiteurForm" name="RepetiteurForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': RepetiteurForm.nom.$invalid}">
        <label for="nom" class="col-sm-2 control-label">Nom</label>
        <div id="nomControls" class="col-sm-10">
            <input id="nom" name="nom" type="text" class="form-control" ng-model="repetiteur.nom" placeholder="Enter the Repetiteur Nom"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RepetiteurForm.prenom.$invalid}">
        <label for="prenom" class="col-sm-2 control-label">Prenom</label>
        <div id="prenomControls" class="col-sm-10">
            <input id="prenom" name="prenom" type="text" class="form-control" ng-model="repetiteur.prenom" placeholder="Enter the Repetiteur Prenom"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RepetiteurForm.niveau_scolaire.$invalid}">
        <label for="niveau_scolaire" class="col-sm-2 control-label">Niveau_scolaire</label>
        <div id="niveau_scolaireControls" class="col-sm-10">
            <input id="niveau_scolaire" name="niveau_scolaire" type="text" class="form-control" ng-model="repetiteur.niveau_scolaire" placeholder="Enter the Repetiteur Niveau_scolaire"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RepetiteurForm.telephone.$invalid}">
        <label for="telephone" class="col-sm-2 control-label">Telephone</label>
        <div id="telephoneControls" class="col-sm-10">
            <input id="telephone" name="telephone" type="number" class="form-control" ng-model="repetiteur.telephone" placeholder="Enter the Repetiteur Telephone"></input>
            <span class="help-block error" ng-show="RepetiteurForm.telephone.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RepetiteurForm.quartier.$invalid}">
        <label for="quartier" class="col-sm-2 control-label">Quartier</label>
        <div id="quartierControls" class="col-sm-10">
            <input id="quartier" name="quartier" type="text" class="form-control" ng-model="repetiteur.quartier" placeholder="Enter the Repetiteur Quartier"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RepetiteurForm.numero_rue.$invalid}">
        <label for="numero_rue" class="col-sm-2 control-label">Numero_rue</label>
        <div id="numero_rueControls" class="col-sm-10">
            <input id="numero_rue" name="numero_rue" type="number" class="form-control" ng-model="repetiteur.numero_rue" placeholder="Enter the Repetiteur Numero_rue"></input>
            <span class="help-block error" ng-show="RepetiteurForm.numero_rue.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RepetiteurForm.login.$invalid}">
        <label for="login" class="col-sm-2 control-label">Login</label>
        <div id="loginControls" class="col-sm-10">
            <input id="login" name="login" type="text" class="form-control" ng-model="repetiteur.login" placeholder="Enter the Repetiteur Login"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': RepetiteurForm.password.$invalid}">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div id="passwordControls" class="col-sm-10">
            <input id="password" name="password" type="text" class="form-control" ng-model="repetiteur.password" placeholder="Enter the Repetiteur Password"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveRepetiteur" name="saveRepetiteur" class="btn btn-primary"  ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteRepetiteur" name="deleteRepetiteur" class="btn btn-danger" ng-show="repetiteur.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>