				<div class="row">
						<div class="table-responsive">
        					<table class="table">
            					<thead>
                					<tr>
                						<th></th>
                    					<th>Date_seance</th>
                    					<th>Heure de Debut</th>
                    					<th>Heure de Fin</th>
                    					<th>Lecon</th>
                    					<th>Lieu</th>
                    					<th>Statut</th>
                					</tr>
                
            					</thead>
            					<tbody id="search-results-body">
                					<tr ng-repeat="seance in seancesResults" >
                						<td> <input type="radio" name="apprenant"  ng-click="selection(seance)"/></td>
                    					<td>{{seance.date_seance}}</td>
                    					<td>{{seance.heure_debut_seance | date : "h:mm"}}</td>
                    					<td>{{seance.heure_fin_seance | date : "h:mm"}}</td>
                    					<td>{{seance.lecon}}</td>
                    					<td>{{seance.lieu}}</td>
                    					<td>{{seance.statut}}</td>
                					</tr>
                
            					</tbody>
        					</table>
						</div>
				</div>
                
                  		
                  <form id="UtilisateurForm" name="UtilisateurForm" class="form-horizontal" role="form">
                	  <div class="row well sidebar-offcanvas">
        				<div class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Heure Arrivee</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="time" class="form-control" ng-model="feedbackDTO.heure_arrivee"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Heure de Depart</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="time" class="form-control" ng-model="feedbackDTO.heure_depart"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Heure De Debut</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="time" class="form-control" ng-model="feedbackDTO.heure_debut"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Heure Fin de seance</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="time" class="form-control" ng-model="feedbackDTO.heure_fin"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Commentaires ou appreciations</label>
        					<div id="statutControls" class="col-sm-5">
        						<textarea class="form-control" ng-model="feedbackDTO.appreciation"></textarea>
        					</div>
    					</div>
    					
    					<div class="form-group">
    						<center>
        					<div class="col-sm-offset-2 col-sm-10">
            					<button id="saveUtilisateur" name="saveUtilisateur" class="btn btn-primary" ng-disabled="isClean() || UtilisateurForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            						<button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            						<!--<button id="deleteUtilisateur" name="deleteUtilisateur" class="btn btn-danger" ng-show="utilisateur.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>-->
        					</div>
        					</center>
    					</div>
    					
					  </div>
					  
			</form>
