	<!--
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4"><h3>Inscription Repetiteur</h3></div>
		<div class="col-md-4"></div>
	</div>
	-->
	
	<form id="inscriptionRepetiteurForm" name="inscriptionRepetiteurForm" class="form-horizontal" role="form">
		
		<!-- debut detail du repetiteur -->
		<div class="col-md-7">
         	   <fieldset>
         	   <legend><center>Informations</center></legend>
                	  <div class="row well sidebar-offcanvas">
        				<div class="form-group" ng-class="{'has-error': inscriptionRepetiteurForm.nom.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Nom</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="text" class="form-control" ng-model="InscriptionRepetiteurDTO.nom"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': inscriptionRepetiteurForm.prenom.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Prenom</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="text" class="form-control" ng-model="InscriptionRepetiteurDTO.prenom"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': inscriptionRepetiteurForm.telephone.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Telephone</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="number" class="form-control" ng-model="InscriptionRepetiteurDTO.telephone"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': inscriptionRepetiteurForm.quartier.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Quartier</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="text" class="form-control" ng-model="InscriptionRepetiteurDTO.quartier"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': inscriptionRepetiteurForm.numero_rue.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">numero de rue</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="number" class="form-control" ng-model="InscriptionRepetiteurDTO.numero_rue"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': inscriptionRepetiteurForm.niveau_scolaire.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Niveau scolaire</label>
        					<div id="statutControls" class="col-sm-5">
        						<select class="form-control" ng-model="InscriptionRepetiteurDTO.niveau_scolaire">
        							<option class="form-control"> Baccalaureat</option>
        							<option class="form-control"> Baccalaureat+1</option>
        							<option class="form-control"> BTS</option>
        							<option class="form-control"> LICENCE</option>
        							<option class="form-control"> MASTER</option>
        						</select>
        					</div>
        					
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': inscriptionRepetiteurForm.login.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Login</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="text" class="form-control" ng-model="InscriptionRepetiteurDTO.login"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': inscriptionRepetiteurForm.password.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Mot De Passe</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="password" class="form-control"  ng-model="InscriptionRepetiteurDTO.password"/>
        					</div>
    					</div>
    					
    					<div class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<label for="statut" class="col-sm-5 control-label">Confirmer Mot De Passe</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="password" class="form-control" />
        					</div>
    					</div>
    					
					  </div>
           	 </fieldset>
		</div>
		<!-- fin detail du repetiteur -->
		
		
		<!-- debut Specialites -->
		<div class="col-md-offset-1 col-md-4">
			<fieldset>
			<legend><center>Specialites</center></legend>
					
                  		<!-- matieres repetiteurs -->
                  	<div>
                	  <div class="row well sidebar-offcanvas">
        				<div class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<div ng-repeat="result in searchResults" class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<label for="matiere" class="col-sm-5 control-label" >{{result.intitule}}</label>
        					<div name="matieres" id="statutControls" class="col-sm-5">
        						<input name="matiere_cochee"  type="checkbox" class="form-control" ng-model="checkboxValue" ng-click="cocheOupas(result)" />
        					</div>
        					
    					</div>
    					</div>
    					
					  </div>
    					
					<!-- fin matiere apprenant -->
              	  	</div>
			</fieldset>
		</div>
		
			<div class="form-group">
				<center>
        		<div class="col-sm-10">
            		<button id="saveUtilisateur" name="saveUtilisateur" class="btn btn-primary" ng-disabled="isClean() || UtilisateurForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Enregistrer</button>
            		<button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Annuler</button>
        		</div>
        		</center>
    		</div>
		<!-- fin apprenant -->
	</form>