<div class="container">
					<div class="row">
						<div class="form-group pull-right">
        					<div class="col-md-offset-2 col-sm-2">
            					<a id="Create" name="Create" class="btn btn-primary" href="#/Repetiteur/planning/nouveau"><span class="glyphicon glyphicon-plus-sign"></span> Nouveau Planning</a>
        					</div>
    					</div>
					</div>
					
					<div class="row">
						<div class ="col-md-7">
						<div class="table-responsive">
        					<table class="table table-striped">
            					<thead>
                					<tr>
                						<th></th>
                    					<th>Nom apprenant</th>
                    					<th>Classe</th>
                					</tr>
                
            					</thead>
            					<tbody id="etudiants">
                					<tr ng-repeat="resultat in ApprenantsResults" class="form-group" ng-click="selection(resultat)">
                						<td> <input type="radio" name="apprenant"  ng-click="ajusterMatiere(resultat)"/></td>
                    					<td>{{resultat.nom}}</td>
                    					<td>{{resultat.classe}}</td>
                					</tr>
                
            					</tbody>
        					</table>
						</div>
						</div>
						
						<div class ="col-md-5">
						<div class="table-responsive">
        					<table class="table table-striped">
            					<thead>
                					<tr>
                    					<th>Nombre seance</th>
                    					<th>effectuees</th>
                    					<th>restantes</th>
                					</tr>
                
            					</thead>
            					<tbody id="nbre_seance">
                					<tr>
                    					<td ng-model="nbre_seance">{{nbre_seance}}</td>
                    					<td ng-model="seances_effectuees">{{seances_effectuees}}</td>
                    					<td ng-model="seances_restantes">{{seances_restantes}}</td>
                					</tr>
                
            					</tbody>
        					</table>
						</div>
						</div>
					
					</div>
                   
                  	<!-- Matieres de l'apprenant selectionné dans la liste plus haut -->
					<div class="row">
						<div class="col-md-10">
						<div class="table-responsive">
        					<table class="table table-striped">
            					<thead>
                					<tr>
                    					<th>Date_seance</th>
                    					<th>Heure de debut</th>
                    					<th>Heure de fin</th>
                    					<th>Lecon</th>
                    					<th>Lieu</th>
                    					<th>Statut</th>
                					</tr>
                
            					</thead>
            					<tbody id="search-results-body">
                					<tr ng-repeat="res in SeancesResults" class="form-group">
                    					<td>{{res.date_seance | date : "dd.MM.y"}}</td>
                    					<td>{{res.heure_debut_seance | date : "h:mm"}}</td>
                    					<td>{{res.heure_fin_seance | date : "h:mm"}}</td>
                    					<td>{{res.lecon}}</td>
                    					<td>{{res.lieu}}</td>
                    					<td>{{res.statut}}</td>
                					</tr>
                
            					</tbody>
        					</table>
						</div>
						</div>
					
					<div class="col-md-2">
					
						<table class="table table-striped">
            					<thead>
                					<tr>
                    					<th>Matieres</th>
                					</tr>
                
            					</thead>
            					<tbody id="search-results-body">
                					<tr ng-repeat="result in searchMatieresResults">
                    					<td>{{result.intitule}}</td>
                					</tr>
                
            					</tbody>
        					</table>
					
					</div>
</div>