<!-- <div class="form-horizontal">
    <h3>Create a new Repetiteur</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Repetiteurs/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Repetiteurs</h3>
    <form id="RepetiteurSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="nom" class="col-sm-2 control-label">Nom</label>
        <div class="col-sm-10">
            <input id="nom" name="nom" class="form-control" type="text" ng-model="search.nom" placeholder="Enter the Repetiteur Nom"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="prenom" class="col-sm-2 control-label">Prenom</label>
        <div class="col-sm-10">
            <input id="prenom" name="prenom" class="form-control" type="text" ng-model="search.prenom" placeholder="Enter the Repetiteur Prenom"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="niveau_scolaire" class="col-sm-2 control-label">Niveau_scolaire</label>
        <div class="col-sm-10">
            <input id="niveau_scolaire" name="niveau_scolaire" class="form-control" type="text" ng-model="search.niveau_scolaire" placeholder="Enter the Repetiteur Niveau_scolaire"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="telephone" class="col-sm-2 control-label">Telephone</label>
        <div class="col-sm-10">
            <input id="telephone" name="telephone" class="form-control" type="text" ng-model="search.telephone" placeholder="Enter the Repetiteur Telephone"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="quartier" class="col-sm-2 control-label">Quartier</label>
        <div class="col-sm-10">
            <input id="quartier" name="quartier" class="form-control" type="text" ng-model="search.quartier" placeholder="Enter the Repetiteur Quartier"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="numero_rue" class="col-sm-2 control-label">Numero_rue</label>
        <div class="col-sm-10">
            <input id="numero_rue" name="numero_rue" class="form-control" type="text" ng-model="search.numero_rue" placeholder="Enter the Repetiteur Numero_rue"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="login" class="col-sm-2 control-label">Login</label>
        <div class="col-sm-10">
            <input id="login" name="login" class="form-control" type="text" ng-model="search.login" placeholder="Enter the Repetiteur Login"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input id="password" name="password" class="form-control" type="text" ng-model="search.password" placeholder="Enter the Repetiteur Password"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
 -->
<form id="inscriptionRepetiteurForm" name="inscriptionRepetiteurForm" class="form-horizontal" role="form">
                	  		<div class="row well sidebar-offcanvas">
    						<center>
    						<div class="col-sm-offset-2 col-sm-10">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Niveau_scolaire</th>
                    <th>Telephone</th>
                    <th>Quartier</th>
                    <th>Numero_rue</th>
                    <th>Login</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Repetiteurs/edit/{{result.id}}">{{result.nom}}</a></td>
                    <td><a href="#/Repetiteurs/edit/{{result.id}}">{{result.prenom}}</a></td>
                    <td><a href="#/Repetiteurs/edit/{{result.id}}">{{result.niveau_scolaire}}</a></td>
                    <td><a href="#/Repetiteurs/edit/{{result.id}}">{{result.telephone}}</a></td>
                    <td><a href="#/Repetiteurs/edit/{{result.id}}">{{result.quartier}}</a></td>
                    <td><a href="#/Repetiteurs/edit/{{result.id}}">{{result.numero_rue}}</a></td>
                    <td><a href="#/Repetiteurs/edit/{{result.id}}">{{result.login}}</a></td>
                    <td><a href="#/Repetiteurs/edit/{{result.id}}">{{result.password}}</a></td>
                </tr>
            </tbody>
        </table>
        
        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>
    </div>
    </div>

</center>
        					
        					</div>
</form>