
	
	<div class="row">
	<form id="inscriptionParentForm" name="inscriptionParentForm" class="form-horizontal" role="form">
		
		<!-- login -->
		<div >
               	 <div class="form-white-background">
		<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
                	   
                    <div class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<label for="prenomParent" class="col-sm-5 control-label">login</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="text" class="form-control" name="login" ng-model="loginDTO.login" />
        					</div>
    					</div>
                   	 
                   	<div class="form-group" ng-class="{'has-error': UtilisateurForm.statut.$invalid}">
        					<label for="passwordParent" class="col-sm-5 control-label">Mot De Passe</label>
        					<div id="statutControls" class="col-sm-5">
        						<input type="password" class="form-control" name="password" ng-model="loginDTO.password"/>
        					</div>
    					</div>
              	  </div>
              	  <!--  <a href="#" >Mot de passe oubllie ? &rarr;</a>-->
		<!-- fin login -->
		
					<div class="pull-right">
                        <button id="save" name="save" class="btn btn-primary" ng-disabled="isClean() || UtilisateurForm.$invalid" ng-click="save()">se connecter</button>
            						
                    </div>
		</div>
	</form>
	</div>
	
					