<header ng-switch on="$location.path().indexOf('/Seances/new') > -1">
    <h3 ng-switch-when="true">Create a new Seance</h3>
    <h3 ng-switch-when="false">View or edit Seance</h3>
</header>
<form id="SeanceForm" name="SeanceForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': SeanceForm.lecon.$invalid}">
        <label for="lecon" class="col-sm-2 control-label">Lecon</label>
        <div id="leconControls" class="col-sm-10">
            <input id="lecon" name="lecon" type="text" class="form-control" ng-model="seance.lecon" placeholder="Enter the Seance Lecon"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SeanceForm.lieu.$invalid}">
        <label for="lieu" class="col-sm-2 control-label">Lieu</label>
        <div id="lieuControls" class="col-sm-10">
            <input id="lieu" name="lieu" type="text" class="form-control" ng-model="seance.lieu" placeholder="Enter the Seance Lieu"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SeanceForm.date_seance.$invalid}">
        <label for="date_seance" class="col-sm-2 control-label">Date_seance</label>
        <div id="date_seanceControls" class="col-sm-10">
            <date id="date_seance" name="date_seance" ng-model="seance.date_seance" placeholder="Enter the Seance Date_seance"></date>
            <span class="help-block error" ng-show="SeanceForm.date_seance.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SeanceForm.heure_debut_seance.$invalid}">
        <label for="heure_debut_seance" class="col-sm-2 control-label">Heure_debut_seance</label>
        <div id="heure_debut_seanceControls" class="col-sm-10">
            <date id="heure_debut_seance" name="heure_debut_seance" ng-model="seance.heure_debut_seance" placeholder="Enter the Seance Heure_debut_seance"></date>
            <span class="help-block error" ng-show="SeanceForm.heure_debut_seance.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>

    <!--<div class="form-group" ng-class="{'has-error': SeanceForm.duree_seance.$invalid}">
        <label for="duree_seance" class="col-sm-2 control-label">Duree_seance</label>
        <div id="duree_seanceControls" class="col-sm-10">
            <date id="duree_seance" name="duree_seance" ng-model="seance.duree_seance" placeholder="Enter the Seance Duree_seance"></date>
            <span class="help-block error" ng-show="SeanceForm.duree_seance.$error.dateFormat">does not match format "yyyy-MM-dd" (e.g. 2013-12-01)</span>
        </div>
    </div>-->

    <div class="form-group" ng-class="{'has-error': SeanceForm.repetition.$invalid}">
        <label for="repetition" class="col-sm-2 control-label">Repetition</label>
        <div id="repetitionControls" class="col-sm-10">
        <select id="repetition" name="repetition" class="form-control" ng-model="repetitionSelection" ng-options="r.text for r in repetitionSelectionList"  >
            <option value="">Choose a Repetition</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveSeance" name="saveSeance" class="btn btn-primary"  ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteSeance" name="deleteSeance" class="btn btn-danger" ng-show="seance.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>