<!-- <div class="form-horizontal">
    <h3>Create a new Seance</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Seances/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Seances</h3>
    <form id="SeanceSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="lecon" class="col-sm-2 control-label">Lecon</label>
        <div class="col-sm-10">
            <input id="lecon" name="lecon" class="form-control" type="text" ng-model="search.lecon" placeholder="Enter the Seance Lecon"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="lieu" class="col-sm-2 control-label">Lieu</label>
        <div class="col-sm-10">
            <input id="lieu" name="lieu" class="form-control" type="text" ng-model="search.lieu" placeholder="Enter the Seance Lieu"></input>
        </div>
    </div>




    <div class="form-group">
        <label for="repetition" class="col-sm-2 control-label">Repetition</label>
        <div class="col-sm-10">
            <select id="repetition" name="repetition" class="form-control" ng-model="search.repetition" ng-options="r as r.id for r in repetitionList">
                <option value="">Choose a Repetition</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
 -->
 
<form id="inscriptionRepetiteurForm" name="inscriptionRepetiteurForm" class="form-horizontal" role="form">
                	  		<div class="row well sidebar-offcanvas">
    						<center>
    						<div class="col-sm-offset-2 col-sm-10">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Lecon</th>
                    <th>Lieu</th>
                    <th>Date_seance</th>
                    <th>Heure_debut_seance</th>
                    <th>Duree_seance</th>
                    <th>Repetition</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Seances/edit/{{result.id}}">{{result.lecon}}</a></td>
                    <td><a href="#/Seances/edit/{{result.id}}">{{result.lieu}}</a></td>
                    <td><a href="#/Seances/edit/{{result.id}}">{{result.date_seance| date:'mediumDate'}}</a></td>
                    <td><a href="#/Seances/edit/{{result.id}}">{{result.heure_debut_seance| date:'mediumDate'}}</a></td>
                    <td><a href="#/Seances/edit/{{result.id}}">{{result.duree_seance| date:'mediumDate'}}</a></td>
                        <td><a href="#/Seances/edit/{{result.id}}">{{result.repetition.id}}</a></td>
                </tr>
            </tbody>
        </table>
        
        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>
    </div>
    </div>
</center>
        					
        					</div>
</form>