<div class="form-horizontal">
    <h3>Creer</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Matieres/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<!--
<hr/>
<div>
    <h3>Search for Matieres</h3>
    <form id="MatiereSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="intitule" class="col-sm-2 control-label">Intitule</label>
        <div class="col-sm-10">
            <input id="intitule" name="intitule" class="form-control" type="text" ng-model="search.intitule" placeholder="Enter the Matiere Intitule"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>

 -->
 
 
<form id="inscriptionRepetiteurForm" name="inscriptionRepetiteurForm" class="form-horizontal" role="form">
                	  		<div class="row well sidebar-offcanvas">
    						<center>
    						<div class="col-sm-offset-2 col-sm-10">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Intitule</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Matieres/edit/{{result.id}}">{{result.intitule}}</a></td>
                </tr>
            </tbody>
        </table>
        
        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>
    </div>
    </div>
    
</center>
        					
        					</div>
</form>