<header ng-switch on="$location.path().indexOf('/Parents/new') > -1">
    <h3 ng-switch-when="true">Create a new Parent</h3>
    <h3 ng-switch-when="false">View or edit Parent</h3>
</header>
<form id="ParentForm" name="ParentForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': ParentForm.nom.$invalid}">
        <label for="nom" class="col-sm-2 control-label">Nom</label>
        <div id="nomControls" class="col-sm-10">
            <input id="nom" name="nom" type="text" class="form-control" ng-model="parent.nom" placeholder="Enter the Parent Nom"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ParentForm.prenom.$invalid}">
        <label for="prenom" class="col-sm-2 control-label">Prenom</label>
        <div id="prenomControls" class="col-sm-10">
            <input id="prenom" name="prenom" type="text" class="form-control" ng-model="parent.prenom" placeholder="Enter the Parent Prenom"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ParentForm.telephone.$invalid}">
        <label for="telephone" class="col-sm-2 control-label">Telephone</label>
        <div id="telephoneControls" class="col-sm-10">
            <input id="telephone" name="telephone" type="number" class="form-control" ng-model="parent.telephone" placeholder="Enter the Parent Telephone"></input>
            <span class="help-block error" ng-show="ParentForm.telephone.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ParentForm.quartier.$invalid}">
        <label for="quartier" class="col-sm-2 control-label">Quartier</label>
        <div id="quartierControls" class="col-sm-10">
            <input id="quartier" name="quartier" type="text" class="form-control" ng-model="parent.quartier" placeholder="Enter the Parent Quartier"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ParentForm.numero_rue.$invalid}">
        <label for="numero_rue" class="col-sm-2 control-label">Numero_rue</label>
        <div id="numero_rueControls" class="col-sm-10">
            <input id="numero_rue" name="numero_rue" type="number" class="form-control" ng-model="parent.numero_rue" placeholder="Enter the Parent Numero_rue"></input>
            <span class="help-block error" ng-show="ParentForm.numero_rue.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ParentForm.login.$invalid}">
        <label for="login" class="col-sm-2 control-label">Login</label>
        <div id="loginControls" class="col-sm-10">
            <input id="login" name="login" type="text" class="form-control" ng-model="parent.login" placeholder="Enter the Parent Login"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ParentForm.password.$invalid}">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div id="passwordControls" class="col-sm-10">
            <input id="password" name="password" type="text" class="form-control" ng-model="parent.password" placeholder="Enter the Parent Password"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveParent" name="saveParent" class="btn btn-primary"  ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteParent" name="deleteParent" class="btn btn-danger" ng-show="parent.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>