	<div class="container">
					<div class="row">
						<div class ="col-md-7">
						<div class="table-responsive">
        					<table class="table table-striped">
            					<thead>
                					<tr>
                    					<th>Nom apprenant</th>
                    					<th>Classe</th>
                					</tr>
                
            					</thead>
            					<tbody id="etudiants">
                					<tr ng-repeat="resultat in ApprenantsResults" ng-click="ajusterMatiere(resultat)" ng-class="{active: activeMenu === resultat}">
                						<!--  <td> <input type="radio" name="apprenant"/></td> -->
                    					<td>{{resultat.nom}}</td>
                    					<td>{{resultat.classe}}</td>
                					</tr>
                
            					</tbody>
        					</table>
						</div>
						</div>
						
						<div class ="col-md-5">
						<div class="table-responsive">
        					<table class="table table-striped">
            					<thead>
                					<tr>
                    					<th>Nombre seance</th>
                    					<th>effectuees</th>
                    					<th>restantes</th>
                					</tr>
                
            					</thead>
            					<tbody id="nbre_seance">
                					<tr>
                    					<td ng-model="nbre_seance">{{nbre_seance}}</td>
                    					<td ng-model="seances_effectuees">{{seances_effectuees}}</td>
                    					<td ng-model="seances_restantes">{{seances_restantes}}</td>
                					</tr>
                
            					</tbody>
        					</table>
						</div>
						</div>
					
					</div>
                   
                  	<!-- Matieres de l'apprenant selectionné dans la liste plus haut -->
					<div class="row">
						<div class="col-md-10">
        					<table class="table table-striped">
            					<thead>
                					<tr>
                    					<th>Date_seance</th>
                    					<th>Heure de Debut</th>
                    					<th>Heure de Fin</th>
                    					<th>Lecon</th>
                    					<th>Lieu</th>
                    					<th>Statut</th>
                					</tr>
                
            					</thead>
            					<tbody id="search-results-body">
                					<tr ng-repeat="res in SeancesResults" >
                    					<td>{{res.date_seance | date : "dd.MM.y"}}</td>
                    					<td>{{res.heure_debut_seance | date : "h:mm"}}</td>
                    					<td>{{res.heure_fin_seance | date : "h:mm"}}</td>
                    					<td>{{res.lecon}}</td>
                    					<td>{{res.lieu}}</td>
                    					<td>{{res.statut}}</td>
                					</tr>
                
            					</tbody>
        					</table>
						</div>
					
					<div class="col-md-2">
					
						<table class="table table-striped">
            					<thead>
                					<tr>
                    					<th>Matieres</th>
                					</tr>
                
            					</thead>
            					<tbody id="search-results-body">
                					<tr ng-repeat="result in searchMatieresResults">
                    					<td>{{result.intitule}}</td>
                					</tr>
                
            					</tbody>
        				</table>
					
					</div>
</div>