<header ng-switch on="$location.path().indexOf('/Repetition_Apprenants/new') > -1">
    <h3 ng-switch-when="true">Create a new Repetition_Apprenant</h3>
    <h3 ng-switch-when="false">View or edit Repetition_Apprenant</h3>
</header>
<form id="Repetition_ApprenantForm" name="Repetition_ApprenantForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': Repetition_ApprenantForm.apprenant.$invalid}">
        <label for="apprenant" class="col-sm-2 control-label">Apprenant</label>
        <div id="apprenantControls" class="col-sm-10">
        <select id="apprenant" name="apprenant" class="form-control" ng-model="apprenantSelection" ng-options="a.text for a in apprenantSelectionList"  >
            <option value="">Choose a Apprenant</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': Repetition_ApprenantForm.repetition.$invalid}">
        <label for="repetition" class="col-sm-2 control-label">Repetition</label>
        <div id="repetitionControls" class="col-sm-10">
        <select id="repetition" name="repetition" class="form-control" ng-model="repetitionSelection" ng-options="r.text for r in repetitionSelectionList"  >
            <option value="">Choose a Repetition</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveRepetition_Apprenant" name="saveRepetition_Apprenant" class="btn btn-primary" ng-disabled="isClean() || Repetition_ApprenantForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteRepetition_Apprenant" name="deleteRepetition_Apprenant" class="btn btn-danger" ng-show="repetition_Apprenant.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>