<header ng-switch on="$location.path().indexOf('/Matiere_Repetiteurs/new') > -1">
    <h3 ng-switch-when="true">Create a new Matiere_Repetiteur</h3>
    <h3 ng-switch-when="false">View or edit Matiere_Repetiteur</h3>
</header>
<form id="Matiere_RepetiteurForm" name="Matiere_RepetiteurForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': Matiere_RepetiteurForm.repetiteur.$invalid}">
        <label for="repetiteur" class="col-sm-2 control-label">Repetiteur</label>
        <div id="repetiteurControls" class="col-sm-10">
        <select id="repetiteur" name="repetiteur" class="form-control" ng-model="repetiteurSelection" ng-options="r.text for r in repetiteurSelectionList"  >
            <option value="">Choose a Repetiteur</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': Matiere_RepetiteurForm.matiere.$invalid}">
        <label for="matiere" class="col-sm-2 control-label">Matiere</label>
        <div id="matiereControls" class="col-sm-10">
        <select id="matiere" name="matiere" class="form-control" ng-model="matiereSelection" ng-options="m.text for m in matiereSelectionList"  >
            <option value="">Choose a Matiere</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveMatiere_Repetiteur" name="saveMatiere_Repetiteur" class="btn btn-primary" ng-disabled="isClean() || Matiere_RepetiteurForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteMatiere_Repetiteur" name="deleteMatiere_Repetiteur" class="btn btn-danger" ng-show="matiere_Repetiteur.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>