<div class="form-horizontal">
    <h3>Create a new Matiere_Repetiteur</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Matiere_Repetiteurs/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Matiere_Repetiteurs</h3>
    <form id="Matiere_RepetiteurSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="repetiteur" class="col-sm-2 control-label">Repetiteur</label>
        <div class="col-sm-10">
            <select id="repetiteur" name="repetiteur" class="form-control" ng-model="search.repetiteur" ng-options="r as r.id for r in repetiteurList">
                <option value="">Choose a Repetiteur</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="matiere" class="col-sm-2 control-label">Matiere</label>
        <div class="col-sm-10">
            <select id="matiere" name="matiere" class="form-control" ng-model="search.matiere" ng-options="m as m.id for m in matiereList">
                <option value="">Choose a Matiere</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Repetiteur</th>
                    <th>Matiere</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                        <td><a href="#/Matiere_Repetiteurs/edit/{{result.id}}">{{result.repetiteur.id}}</a></td>
                        <td><a href="#/Matiere_Repetiteurs/edit/{{result.id}}">{{result.matiere.id}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>