<header ng-switch on="$location.path().indexOf('/Matiere_Repetitions/new') > -1">
    <h3 ng-switch-when="true">Create a new Matiere_Repetition</h3>
    <h3 ng-switch-when="false">View or edit Matiere_Repetition</h3>
</header>
<form id="Matiere_RepetitionForm" name="Matiere_RepetitionForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': Matiere_RepetitionForm.matiere.$invalid}">
        <label for="matiere" class="col-sm-2 control-label">Matiere</label>
        <div id="matiereControls" class="col-sm-10">
        <select id="matiere" name="matiere" class="form-control" ng-model="matiereSelection" ng-options="m.text for m in matiereSelectionList"  >
            <option value="">Choose a Matiere</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': Matiere_RepetitionForm.repetition.$invalid}">
        <label for="repetition" class="col-sm-2 control-label">Repetition</label>
        <div id="repetitionControls" class="col-sm-10">
        <select id="repetition" name="repetition" class="form-control" ng-model="repetitionSelection" ng-options="r.text for r in repetitionSelectionList"  >
            <option value="">Choose a Repetition</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveMatiere_Repetition" name="saveMatiere_Repetition" class="btn btn-primary" ng-disabled="isClean() || Matiere_RepetitionForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteMatiere_Repetition" name="deleteMatiere_Repetition" class="btn btn-danger" ng-show="matiere_Repetition.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>