<div class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                
                <!-- main area-->
                <div class="col-md-9">
                
                   <!-- liste des pprenants -->
					<div class="row">
						<div id="search-results">
						<div class="table-responsive">
       					 <table class="table table-striped">
           					 <thead>
                					<tr>
                   					 <th>Nom</th>
                   					 <th>Classe</th>
                   					 <th>Etablissement</th>
                					</tr>
            				</thead>
            				<tbody id="search-results-body">
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.nom}}</a></td>
                					</tr>
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.classe}}</a></td>
                					</tr>
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.etablissement}}</a></td>
                					</tr>
            				</tbody>
        				</table>
						</div>
						</div>
					</div>
                   
                  	<!-- Matieres de l'apprenant selectionné dans la liste plus haut -->
					<div class="row">
						<div id="search-results">
						<div class="table-responsive">
        					<table class="table ttable-striped">
            					<thead>
                					<tr>
                    					<th>Intitules Matieres</th>
                					</tr>
                
            					</thead>
            					<tbody id="search-results-body">
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.nom}}</a></td>
                					</tr>
                
            					</tbody>
        					</table>
						</div>
						</div>
					</div>
                   
                </div>
            </div>
</div>