<div class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                  <div class="col-md-3 well sidebar-offcanvas">
                    <a href="app.html">
                        <img class="hidden-xs img-responsive" src="img/forge-logo.png" alt="JBoss Forge"></img>
                    </a>
                    <nav class="sidebar-nav" ng-controller="NavController" role="navigation">
                        <div id="sidebar-entries" class="list-group">
                        	<a class="list-group-item" href="#/compte/admin" data-toggle="offcanvas"> Mes Infos </a>
                        	<a class="list-group-item" href="#/compte/admin/parents" data-toggle="offcanvas"> Parents </a>
                        	<a class="list-group-item" href="#/compte/admin/repetiteurs" data-toggle="offcanvas"> Repetiteurs </a>
                        	<a class="list-group-item" href="#/compte/admin/apprenants" data-toggle="offcanvas"> Apprenants </a>
                        	<a class="list-group-item" href="#/compte/admin/feedbacks" data-toggle="offcanvas"> FeedBacks </a>
                        	<a class="list-group-item" href="#/compte/admin/plannings" data-toggle="offcanvas"> Plannings </a>
                        </div>
                    </nav>
                </div>
                <!-- main area-->
                <div class="col-md-9">
                    
                </div>
            </div>
</div>