<div class="container">
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                  <div class="col-md-3 well sidebar-offcanvas">
                    <a href="app.html">
                        <img class="hidden-xs img-responsive" src="img/forge-logo.png" alt="JBoss Forge"></img>
                    </a>
                    <nav class="sidebar-nav" ng-controller="NavController" role="navigation">
                        <div id="sidebar-entries" class="list-group">
                        	<a class="list-group-item" href="#/compte/admin" data-toggle="offcanvas"> Mes Infos </a>
                        	<a class="list-group-item" href="#/compte/admin/parents" data-toggle="offcanvas"> Parents </a>
                        	<a class="list-group-item" href="#/compte/admin/repetiteurs" data-toggle="offcanvas"> Repetiteurs </a>
                        	<a class="list-group-item" href="#/compte/admin/apprenants" data-toggle="offcanvas"> Apprenants </a>
                        	<a class="list-group-item" href="#/compte/admin/feedbacks" data-toggle="offcanvas"> FeedBacks </a>
                        	<a class="list-group-item" href="#/compte/admin/plannings" data-toggle="offcanvas"> Plannings </a>
                        </div>
                    </nav>
                </div>
                <!-- main area-->
                <div class="col-md-9">
                
                   <!-- liste des pprenants -->
					<div class="row">
						<div id="search-results">
						<div class="table-responsive">
       					 <table class="table table-responsive table-bordered table-striped clearfix">
           					 <thead>
                					<tr>
                   					 <th>Nom Auteur</th>
                   					 <th>Date Seance</th>
                   					 <th>Heure Arrivee</th>
                   					 <th>Heure Debut</th>
                   					 <th>Heure Fin</th>
                   					 <th>Heure Depart</th>
                					</tr>
            				</thead>
            				<tbody id="search-results-body">
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.nom_auteur}}</a></td>
                					</tr>
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.date_seance}}</a></td>
                					</tr>
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.heure_arrivee | date : "h:mm"}}</a></td>
                					</tr>
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.heure_debut | date : "h:mm"}}</a></td>
                					</tr>
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.heure_fin | date : "h:mm"}}</a></td>
                					</tr>
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.heure_depart | date : "h:mm"}}</a></td>
                					</tr>
            				</tbody>
        				</table>
						</div>
						</div>
					</div>
                   
                  	<!-- Matieres de l'apprenant selectionné dans la liste plus haut -->
					<div class="row">
						<div id="search-results">
						<div class="table-responsive">
        					<table class="table table-responsive table-bordered table-striped clearfix">
            					<thead>
                					<tr>
                    					<th>Appreciations</th>
                					</tr>
                
            					</thead>
            					<tbody id="search-results-body">
                					<tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    					<td><a href="#/Utilisateurs/edit/{{result.id}}">{{result.appreciation}}</a></td>
                					</tr>
                
            					</tbody>
        					</table>
						</div>
						</div>
</div>
                   
                </div>
            </div>
</div>